<!DOCTYPE html>

<head>
  <title>My Todo-List App</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <link rel="stylesheet" href="master.css" type = "text/css" />
</head>

<body>

  <div id= "todo-table">

    <form method = "POST">
      <input type = "text" name = "item" placeholder = "Add a new item" required />
      <button type = "submit">Add Item</button>
    </form>

    <ul>

      <% for(let i = 0; i < data.length; i++){ %>
        <li> <%= data[i].item %> </li>
      <% } %>

    </ul>
  </div>

</body>

</html>
